body {
  margin: 0;
  font: 100 18px/29px Georgia, Times, serif;
  background: #f3f3f2;
  color: #0f0f0f;
}
p {
  margin: 0 0 18px;
}
#wrapper {
  padding: 29px;
  max-width: 830px;
  margin: 0 auto;
  box-sizing: border-box;
}
.top {
  background: #fff;
  margin: 0 0 29px;
  position: relative;
}
.top .container {
  padding: 29px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -9px;
}
h1 {
  margin: 0 0 18px;
  font: bold 29px/47px Helvetica, Arial, sans-serif;
}
.top-text {
  margin: 0 9px 18px;
  flex: 1 1;
}
.top-text .mark {
  background: #3c649f;
  white-space: nowrap;
  color: #fff;
}
.top-text ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.top-text strong {
  font-family: Helvetica, Arial, sans-serif;
}
.top-photo {
  width: 198px;
  height: 320px;
  overflow: hidden;
  margin: 0 9px 18px;
  flex: 0 1 198px;
  padding: 7px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.top-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio {
  overflow: hidden;
}
.portfolio h2,
.top-text h2 {
  margin: 0 0 18px;
  font: bold 18px/29px Helvetica, Arial, sans-serif;
  background: rgb(100, 159, 60);
  color: #f9f9f9;
  display: inline-block;
  padding: 0 11px;
}
.portfolio .container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -9px 18px;
}
.portfolio a {
  display: block;
  flex: 0 1 50%;
  padding: 0 9px 11px;
  box-sizing: border-box;
}
.portfolio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.contacts {
  background: #3c649f;
  padding: 18px 18px 0;
  text-align: center;
  color: #fff;
}
.contacts-list {
  margin: 0 -9px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contacts-list li {
  flex: 0 1 29px;
  margin: 0 9px 18px;
}
.contacts-list a {
  font-size: 29px;
  line-height: 47px;
  color: #000;
  margin: 0 auto;
  display: block;
  width: 47px;
  height: 47px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
}
.contacts-list .telegram {
  color: #0088cc;
}
.contacts-list .whatsapp {
  color: #4fce5d;
}
.contacts-list .viber {
  color: #59267c;
}
.contacts-list .skype {
  color: #00aff0;
}
@media (max-width: 480px) {
  .top .container {
    justify-content: center;
  }
  .top-text .mark {
    white-space: normal;
  }
  .portfolio a {
    flex: 1 1 100%;
  }
}
